# Common settings
LOGS_DIR=./runtime/logs
MEDIA_MOUNT_DIR=./runtime/media
MINIO_DATA_DIR=./minio

MINIO_ROOT_USER=<required>
MINIO_ROOT_PASSWORD=<required>
RESTIC_PASSWORD=<required>

RCLONE_REMOTE=pcloud

JELLYFIN_VERSION=latest
MINIO_VERSION=latest
MINIO_MC_VERSION=latest
RCLONE_VERSION=latest