# Common settings
MEDIA_DATA_PATH=./runtime/media
LOGS_DIR=./runtime/logs
MINIO_DATA_DIR=./minio

MINIO_ROOT_USER=<required>
MINIO_ROOT_PASSWORD=<required>
RESTIC_PASSWORD=<required>

RCLONE_REMOTE=pcloud

JELLYFIN_VERSION=latest
MINIO_VERSION=latest
MINIO_MC_VERSION=latest
RCLONE_VERSION=latest