[pcloud]
type = pcloud
token = {"access_token":"{{ rclone_env.PCLOUD_ACCESS_TOKEN }}","token_type":"bearer","expiry":"{{ rclone_env.PCLOUD_EXPIRY }}"}
hostname = api.pcloud.com

[minio]
type = s3
provider = Minio
env_auth = false
access_key_id = {{ rclone_env.MINIO_ROOT_USER }}
secret_access_key = {{ rclone_env.MINIO_ROOT_PASSWORD }}
endpoint = http://minio:9000
acl = private
